.cart {
  background-color: #f9f9f9;
}
h2 {
  font-size: 14px;
  padding: 72px 62px 44px 63px;
}
.cart-wrapper {
  display: grid;
  flex-direction: column;
  align-content: space-between;
  background-color: #fff;
}
.titles {
  display: flex;
  justify-content: space-between;
}
.product {
  padding: 0 62px;
  display: flex;
  margin: 28px 0 32px;
}
.product-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 109px;
  }

  &__group {
    display: flex;
    gap: 21px;
  }

  &__details {
    display: flex;
    max-width: 250px;
    flex-direction: column;
    gap: 8px;
    text-align: start;

    .product-title {
      color: #2a254b;
      font-size: 20px;
    }
    .product-description {
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: wrap;
      overflow: hidden;
    }
    .product-price {
      font-size: 16px;
    }
  }
}
.product-quantity {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__input {
    max-width: 122px;
    display: flex;
    background-color: #f9f9f9;
    input {
      max-height: 46px;
      max-width: 66px;
      text-align: center;
      border: none;
      background-color: #f9f9f9;
    }
    .input-btn {
      padding: 10px;
      margin-top: 0;
      background-color: #f9f9f9;
      border: none;
      color: #151515;
      max-height: 46px;
    }
  }
}
.line {
  border: 1px solid #f9f9f9;
  width: 90%;
  margin: 0 auto;
}
.summary {
  display: flex;
  justify-content: space-between;
  margin: 20px 63px;
  font-size: 14px;

  .taxes {
    font-size: 14px;
  }
  .subtotal {
    display: flex;

    &-title {
      font-size: 20px;
    }
  }
}
