.details {
  a {
    text-decoration: none;
  }
  &-wrapper {
    background-color: #f9f9f9;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 67px;

    img {
      max-width: 607px;
      max-height: 661px;
      width: 100%;
    }
    .product-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &__title {
        font-size: 36px;
        margin-bottom: 16px;
      }
      &__price {
        font-size: 24px;
        font-family: "Satoshi";
        margin-bottom: 28px;
      }
      .line {
        border: 1px solid #ebe8f4;
        width: 100%;
        margin-bottom: 24px;
      }
      &__description h4 {
        margin-bottom: 14px;
      }

      &__description h4,
      p {
        text-align: start;
        font-size: 16px;
        max-width: 498px;

        &-title {
          font-family: "Satoshi";
        }
      }
    }
    .product-characteristics {
      margin-top: 36px;
      .product-info__dimensions {
        margin-bottom: 24px;
      }
      table {
        font-size: 16px;
        font-family: "Satoshi";
      }
      th {
        font-weight: 400;
        padding: 5px 49px;
      }
      td:first-child,
      th:first-child {
        padding: 5px 49px 5px 0;
        border-right: 1px solid #ebe8f4;
        height: 90%;
      }
      td:last-child,
      th:last-child {
        padding: 5px 49px;
        border-left: 1px solid #ebe8f4;
      }
      font-size: 16px;
    }
    .product-quantity {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      &__input {
        max-width: 122px;
        display: flex;
        background-color: #fff;
        input {
          max-height: 46px;
          max-width: 66px;
          text-align: center;
          border: none;
        }
        .input-btn {
          padding: 10px;
          margin-top: 0;
          background-color: #fff;
          border: none;
          color: #151515;
          max-height: 46px;
        }
      }
    }
    button {
      color: #fff;
      background-color: #1e193e;
      margin-top: 48px;
    }
    button:hover {
      background-color: #4e4d93;
    }
  }
  .products-list h3 {
    margin-top: 80px;
    text-align: left;
  }
}
.hero-collection__btn {
  color: #151515;
  background-color: #f9f9f9;
  text-decoration: none;
}
