.hero {
  &-wrapper {
    display: flex;
    color: #fff;
    margin: 64px 0;
    justify-content: space-between;
    gap: 16px;
  }

  &-block {
    background-color: #2a254b;
    text-align: left;
    padding: 64px;

    &__title {
      color: #fff;
    }
    &__text {
      margin-top: 12px;
      max-width: 495px;
    }
    &__btn {
      margin-top: 205px;
      background-color: rgba(249, 249, 249, 0.15);
      color: #fff;
    }
    &__btn:hover {
      background-color: rgba(249, 249, 249, 0.3);
      transition: 0.4s linear;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    &-wrapper {
      flex-wrap: wrap;
      align-items: center;
      max-width: 342px;
      margin: 0 auto 32px;
    }
    &-block {
      width: 100%;
      padding: 40px;
      text-align: center;
      margin-bottom: 16px;
      &__btn {
        margin-top: 56px;
        width: 278px;
      }
      &__title {
        margin-top: 0;
      }
      &__title {
        font-size: 20px;
      }
      &__text {
        max-width: 100%;
        font-size: 14px;
        margin-top: 12px;
      }
    }
    &-image {
      max-width: 344px;
    }
  }
}
