.products {
  padding-bottom: 40px;
  margin-top: 80px;
  &-wrapper {
    display: flex;
    margin: 36px auto 48px;
  }
  &-cards {
    max-width: 305px;
    color: #2a254b;
    text-align: start;
    margin: 0 auto;
    transition: transform 0.3s;

    &__title {
      font-size: 20px;
      margin: 12px 0 12px;
    }

    &__text {
      font-size: 16px;
    }
  }
  &-cards:hover {
    transform: scale(1.03);
  }
  .hero-collection__btn {
    padding: 16px 32px;
    color: #151515;
    background-color: #f9f9f9;
    text-decoration: none;
    transition: ease-in 0.3s;
  }
  .hero-collection__btn:hover {
    background-color: #ebe8f4;
  }
}
